﻿@model CreateAuctionViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Create Record</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="createForm" method="post">
        <div class="form-group">
            <label>Category</label>
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.ID">@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Title</label>
            <input class="form-control" name="Title" />
        </div>
       <div class="form-group">
           <label>Description</label>
           <input class="form-control" name="Description" />
       </div>
       <div class="form-group">
           <label>ActualAmount</label>
           <input class="form-control" name="ActualAmount" />
       </div>
       <div class="form-group">
           <label>StartingTime</label>
           <input class="form-control" name="StartingTime" />
       </div>
       <div class="form-group">
           <label>EndingTime</label> 
           <input class="form-control" name="EndingTime" />
       </div>
        <div class="form-group">
            <label>Select Pictures</label>
            <input id="auctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
            <div id="picturearea">

            </div>
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
        <div id="formError" class="form-group bg-danger" style="display:none;">
        </div>
        
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btnsave">Save changes</button>
</div>

<script>
    $("#auctionPictures").change(function () {
      
        var pictures = this.files;

        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i])
        }

        $.ajax({
            
            url: '@Url.Action("UploadPicture", "Shared")',
            type: "post",
            data: picsData,
            datatype: "json",
            processData: false,
            contentType: false
            
		})
            .done(function (responses) {
                //var picIDs = '';
                for (var i = 0; i < responses.length; i++) {
                    var picResponese = responses[i];
                    AttachNewImage(picResponese.pictureurl, picResponese.ID);

                    //var imghtml = "<img class='img-fluid' src='/content/images/" + picResponese.pictureurl + "'>";

                    //picIDs = picIDs + "," + picResponese.ID;
                }
                //$("#pictureIDs").val(picIDs);
        })
    });
    function AttachNewImage(imageURL,imageID) {
       
        var $newimgHTML = $("#imageTemplate").clone();
        $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
        $newimgHTML.find(".image").attr("data-id",imageID);
        $("#picturearea").append($newimgHTML.html());
        RemoveImageOnClick();
    }
    $("#createForm").validate({
        rules: {
            Title: {
                required: true,
                minlength: 4,
                maxlength:8
            }
        },
        messages: {
            Title: {
                required: "Title is required",
                minlength: "Min is 4",
                maxlength: "Max is 8"
            }
          
        }
    });
    $("#btnsave").click(function () {
        if ($("#createForm").valid())
        {

   
        var imageids = [];
        $("#picturearea .image").each(function () {
            var imageid = $(this).attr("data-id");
            imageids.push(imageid);
        });
        $("#pictureIDs").val(imageids.join());

        $.ajax({
            url: '@Url.Action("Create", "Auction")',
            type: "post",
            data: $("#createForm").serialize()

        })
            .done(function (response) {
                if (response.success) {
                    ReloadListing();
                    $('#ShowHideModal').modal('toggle');
                }
                else {
                    $("#formError").html(response.Error);
                    $("#formError").show();
                }


            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    }
    });
</script>