﻿@model Auction
@{
    ViewBag.Title = "Delete";
}
<h1>are  you sure you wna tto delete?</h1>
<h2>Delete</h2>
<form method="post">
    <input type="hidden" value="@Model.ID" />
    
    <button type="button" id="btndelete">
        Yes
    </button>
    <a href="@Url.Action("Index","Auction")" class="btn btn-success" >No</a>

    
</form>
@*<script>
    $("#btndelete").click(function () {
		$.ajax({
            url: '@Url.Action("Delete", "Auction")',
            method:"post"

		})
            .done(function (response) {

                $("#listingArea").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
	});
</script>*@
