﻿@model AuctionDetailViewModel
<div class="row">
 
    <div class="col-lg-12">
       
        <div class="card mt-4">
            @if (Model.Auction.AuctionPictures != null && Model.Auction.AuctionPictures.Count > 0)
            {
                var firstauctionPicture = Model.Auction.AuctionPictures.First();
                var i = 0;
                <div id="carouselIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">

                        @foreach (var picture in Model.Auction.AuctionPictures)
                        {
                            var active = picture == firstauctionPicture ? "active" : string.Empty;
                            <li class="@active" data-target="#carouselIndicators" data-slide-to="@i"></li>
                            i++;
                        }

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        @foreach (var auctionpicture in Model.Auction.AuctionPictures)
                {
                    var active = auctionpicture == firstauctionPicture ? "active" : string.Empty;
                    var picurl = "/Content/images/" + auctionpicture.Pictures.URL;
                            <div class="carousel-item @active">
                                <img class="d-block img-fluid" src="@picurl" alt="First slide">
                            </div>
                        }


                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            }
            <div class="card-body">
                <h3 class="card-title">@Model.Auction.Title</h3>
                <h4>@Model.Auction.ActualAmount</h4>
                <p class="card-text">@Model.Auction.Description</p>
                <span class="text-warning">★ ★ ★ ★ ☆</span>
                4.0 stars
            </div>
        </div>
        <!-- /.card -->

        <div class="card card-outline-secondary my-4">
            <div class="card-header">
                Product Reviews
            </div>
            <div class="card-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis et enim aperiam inventore, similique necessitatibus neque non! Doloribus, modi sapiente laboriosam aperiam fugiat laborum. Sequi mollitia, necessitatibus quae sint natus.</p>
                <small class="text-muted">Posted by Anonymous on 3/1/17</small>
                <hr>
                <a href="#" class="btn btn-success">Leave a Review</a>
            </div>
        </div>
        <!-- /.card -->

    </div>
    <!-- /.col-lg-9 -->

</div>
