﻿@model CreateAuctionViewModel
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Record</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm" method="post">
        <div class="form-group">
            <input type="hidden" name="ID" value="@Model.ID" />
            <label>Category</label>
           
            <select class="form-control" name="CategoryID">
                @foreach (var category in Model.Categories)
                {
                    var selected = category.ID == Model.CategoryID ? "selected" : string.Empty;
                    <option value="@category.ID" @selected>@category.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
           
            <label>Title</label>
            <input class="form-control" name="Title" value="@Model.Title" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" value="@Model.Description" />
        </div>
        <div class="form-group">
            <label>ActualAmount</label>
            <input class="form-control" name="ActualAmount" value="@Model.ActualAmount" />
        </div>
        <div class="form-group">
            <label>StartingTime</label>
            <input class="form-control" name="StartingTime" value="@Model.StartingTime" />
        </div>
        <div class="form-group">
            <label>EndingTime</label>
            <input class="form-control" name="EndingTime" value="@Model.EndingTime" />
        </div>
        <div class="form-group">
            <label>Select Pictures</label>
            <input id="auctionPictures" class="form-control" name="AuctionPictures" type="file" multiple />
            <div id="picturearea" class="mt-2">
                @if (Model.AuctionPicturesList != null && Model.AuctionPicturesList.Count > 0)
                {
                    foreach (var picture in Model.AuctionPicturesList)
                    {
                        <img class='image img-thumbnail' src='~/Content/images/@picture.Pictures.URL' data-id="@picture.ID" style="width:200px;height:200px;" />
                    }

                }
            </div>
            <input type="hidden" name="AuctionPictures" id="pictureIDs" />
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btnEdit">Save changes</button>
</div>
    <script>
        RemoveImageOnClick();
        $("#btnEdit").click(function () {
            var imageids = [];
            $("#picturearea .image").each(function () {
                var imageid = $(this).attr("data-id");
                imageids.push(imageid);
            });
            $("#pictureIDs").val(imageids.join());

            $.ajax({
                url: '@Url.Action("Edit", "Auction")',
            method:"post",
            data: $("#editForm").serialize()

		})
            .done(function (response) {
                $('#ShowHideModal').modal('toggle');
                $("#listingArea").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
        });
          $("#auctionPictures").change(function () {

        var pictures = this.files;

        var picsData = new FormData();

        for (var i = 0; i < pictures.length; i++) {
            picsData.append("Picture", pictures[i])
        }

        $.ajax({

            url: '@Url.Action("UploadPicture", "Shared")',
            type: "post",
            data: picsData,
            datatype: "json",
            processData: false,
            contentType: false

		})
            .done(function (responses) {
                //var picIDs = '';
                for (var i = 0; i < responses.length; i++) {
                    var picResponese = responses[i];
                    AttachNewImage(picResponese.pictureurl, picResponese.ID);

                    //var imghtml = "<img class='img-fluid' src='/content/images/" + picResponese.pictureurl + "'>";

                    //picIDs = picIDs + "," + picResponese.ID;
                }
                //$("#pictureIDs").val(picIDs);
        })
    });
    </script>
