﻿@model AuctionsListingViewModel
@{
    var categoryID = Model.CategoryID.HasValue ? Model.CategoryID.Value : 0;
}
<div class="row">
    <div class="col-lg-12 m-2">
        <form method="post">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" name="categoryID">
                        <option>Select Category</option>
                        @foreach (var category in Model.Categories)
                        {
                            var selected = category.ID == categoryID ? "selected" : string.Empty;
                            <option @selected value="@category.ID">@category.Name</option>
                        }
                    </select>
                </div>
                <div class="col-auto my-1">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input  name="searchTerm" value="@Model.searchTerm" type="text" class="form-control" placeholder="Search" />
                    </div>

                </div>
                <div class="col-auto my-1">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </div>

        </form>
      
        <div class="float-right">
            <button id="btnnew" class="btn btn-primary "> New</button>
        </div>
      <div  id="listingArea">
          @{Html.RenderAction("Listing",new { categoryID=Model.CategoryID ,searchTerm=Model.searchTerm, pageNO=Model.pageNO });}
      </div>
      
        <!-- Modal -->
        <div class="modal fade" id="ShowHideModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="ModalContainer">

                </div>
            </div>
        </div>
        <div id="imageTemplate" style="display:none;">
            <img class='image img-thumbnail' src='' style="width:200px;height:200px;" />
        </div>
        <script>

            $("#btnnew").click(function () {
                $.ajax({
                    url: '@Url.Action("Create", "Auction")',
		})
                .done(function (response) {
                    $('#ShowHideModal').modal('toggle');
            $("#ModalContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
            });

            function RemoveImageOnClick() {
                $("#picturearea .image").click(function () {
                    $(this).remove();
                });
            }

            function AttachNewImage(imageURL, imageID) {

                var $newimgHTML = $("#imageTemplate").clone();
                $newimgHTML.find(".image").attr("src", "/content/images/" + imageURL);
                $newimgHTML.find(".image").attr("data-id", imageID);
                $("#picturearea").append($newimgHTML.html());
                RemoveImageOnClick();
            }
            function ReloadListing() {
                $.ajax({
                url: '@Url.Action("Listing", "Auction")',
		})
                    .done(function (response) {
                        $("#listingArea").html(response);
        })
            }
        </script>
    </div>

</div>
