﻿@model AuctionsListingViewModel

<table class="table table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Description</th>
            <th>Actual Amount</th>
            <th>Starting Time</th>
            <th>Ending Time</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Auctions != null && Model.Auctions.Count > 0)
        {
            foreach (var aucation in Model.Auctions)
            {
                <tr>

                    <td>
                        <input type="hidden" value="@aucation.ID" />
                        @aucation.Title
                    </td>
                    <td>@aucation.Category.Name</td>
                    <td>@aucation.Description</td>
                    <td>@aucation.ActualAmount</td>
                    <td>@aucation.StartingTime</td>
                    <td>@aucation.EndingTime</td>
                    <td>
                        <button class="btnedit" data-id="@aucation.ID">Edit</button>
                        <button class="btndelete" data-id="@aucation.ID">Delete</button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr  >
                <td class="text-center" colspan="7">No Record!!</td>
            </tr>
        }

    </tbody>
</table>
@if (Model.Pager != null && Model.Pager.TotalPages > 1)
{
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            
                @if (Model.Pager.CurrentPage == 1)
                {
                 <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
                </li>   
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","Auction",new {pageNO=Model.Pager.CurrentPage-1, categoryID = Model.CategoryID,searchTerm=Model.searchTerm})">Previous</a>

                    </li>

                }

                @for (int page = Model.Pager.CurrentPage; page < Model.Pager.EndPage + 1; page++)
                {
                    var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;
                    <li class="page-item @active"><a class="page-link" href="@Url.Action("Index","Auction",new {pageNO=page, categoryID = Model.CategoryID,searchTerm=Model.searchTerm })">@page</a></li>

                }
            @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
            {
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("Index","Auction",new {pageNO=Model.Pager.CurrentPage+1, categoryID = Model.CategoryID,searchTerm=Model.searchTerm})">Next</a>
                </li>
            }
           
        </ul>
    </nav>
}

<script>

    $(".btnedit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Auction")',
			data: {
                ID: $(this).attr("data-id")
			}
		})
            .done(function (response) {
                $('#ShowHideModal').modal('toggle');
                $("#ModalContainer").html(response);

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
    });
        $(".btndelete").click(function () {
            var result = confirm("Are Sure You want to delete this");

            if (result)
            {
                $.ajax({
                    url: '@Url.Action("Delete", "Auction")',
                    method:"post",
			data: {
                ID: $(this).attr("data-id")
			}
		})
                    .done(function (response) {

            $("#listingArea").html(response);

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
            }

	});
</script>
