﻿@model CategoryViewModel

<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Create Record</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="createForm" method="post">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" />
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btnsave">Save changes</button>
</div>

<script>
    
    $("#btnsave").click(function () {
       
        $.ajax({
            url: '@Url.Action("Create", "Categories")',
            type: "post",
            data: $("#createForm").serialize()

        })
            .done(function (response) {
                $('#ShowHideModal').modal('toggle');
                $("#listingArea").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
    });
</script>
