﻿@model CategoryViewModel
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Edit Record</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="editForm" method="post">
        <input class="form-control" name="ID" type="hidden" value="@Model.ID" />
        <div class="form-group">

            <label>Name</label>
            <input class="form-control" name="Name" value="@Model.Name" />
        </div>
        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="Description" value="@Model.Description" />
        </div>
       
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" id="btnEdit">Save changes</button>
</div>
<script>
      
        $("#btnEdit").click(function () {
            
            $.ajax({
                url: '@Url.Action("Edit", "Categories")',
            method:"post",
            data: $("#editForm").serialize()

		})
            .done(function (response) {
                $('#ShowHideModal').modal('toggle');
                $("#listingArea").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
        });
        
</script>

