﻿

<div class="row">
    <div class="col-lg-12 m-2">
        <div>
            <button id="btnnew" class="btn btn-primary float-right"> New</button>
        </div>

        <div id="listingArea">
            @{Html.RenderAction("Listing");}
        </div>

        <!-- Modal -->
        <div class="modal fade" id="ShowHideModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" id="ModalContainer">

                </div>
            </div>
        </div>
       
        <script>

        $("#btnnew").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Categories")',
		})
                .done(function (response) {
                    $('#ShowHideModal').modal('toggle');
            $("#ModalContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
            });

        </script>
    </div>

</div>

