﻿@model CategoriesListingViewModel
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            
            <th>Description</th>
           
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var category in Model.Categories)
            {
            <tr>

                <td>
                    <input type="hidden" value="@category.ID" />
                    @category.Name
                </td>
                <td>@category.Description</td>
                <td>@category.Auctions.Count()</td>
                
                <td>
                    <button class="btnedit" data-id="@category.ID">Edit</button>
                    <button class="btndelete" data-id="@category.ID">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>
<script>

    $(".btnedit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Categories")',
			data: {
                ID: $(this).attr("data-id")
			}
		})
            .done(function (response) {
                $('#ShowHideModal').modal('toggle');
                $("#ModalContainer").html(response);

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
    });
        $(".btndelete").click(function () {
            var result = confirm("Are Sure You want to delete this");

            if (result)
            {
                $.ajax({
                    url: '@Url.Action("Delete", "Categories")',
                    method:"post",
			data: {
                ID: $(this).attr("data-id")
			}
		})
                    .done(function (response) {

            $("#listingArea").html(response);

        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("FAIL");
        });
            }

	});
</script>

